/*
  HomeSocial theme for Hubzilla

  Based on redbasic
  by Treer

  This is the colors schema - only colours should be changed here, everything
  else should be placed in css/style.cass
*/

/* Add some green highlights */
.online-now {
	color: #8d3;
}
.item-category > .fa {
	color: #88b540;
}
.field.checkbox > div > input:checked + label .onoffswitch-switch {
	/* toggle box dot color */
	background-color: #8c4;
}
.btn-success {
	background-color: #88c744;
	border-color: #693;
}
nav .badge {
	background-color: #5c2;
	/*background-color: #c44;*/
}
nav .badge:hover {
	background-color: #5a2;
}
#nav-search-text, #nav-search-button {
	border-color: #bbd0aa;
	color: #777;
}
#nav-search-button:hover {
	color: #88b540;	
}
#avatar-dropdown:hover #usermenu-caret {
	/* Make the avatar dropdown caret highlight, since our nav.tpl breaks the redbasic css for this */
	color: #88b540;	
}
input[type="submit"] {
	color: #7b3;
}
@media screen and (max-width: 767px) {
	.nav > li.active > a {
		/* Give a hint of color to the selection box's border around the current nav icon */
		border: 1px solid #dec;
		border-top: none;
		border-bottom: none;
	}
}

/* Set the borders of included and excluded channels in the ACL permissions dialog */
.acl-list-item {
	border: 3px solid #ccc;
}
.acl-list-item.grouphide {
	border: 3px solid #d9534f;
}
.acl-list-item.groupshow {
	border: 3px solid #88c744;
}
