/*
  HomeSocial theme for Hubzilla

  Based on redbasic
  by Treer

  This is the colors schema - only colours should be changed here, everything
  else should be placed in css/style.cass
*/

/* Add some blue highlights */
.online-now {
	color: #67f;
}
.item-category > .fa {
	color: #79e;
}
.field.checkbox > div > input:checked + label .onoffswitch-switch {
	/* toggle box dot color */
	background-color: #79e;
}
.btn-success {
	background-color: #79e;
	border-color: #369;
}
.btn-success:hover {
	background-color: #57c;
}
nav .badge {
	background-color: #46c;
	/*background-color: #c44;*/
}
nav .badge:hover {
	background-color: #25a;
}
#nav-search-text, #nav-search-button {
	border-color: #aabbd0;
	color: #777;
}
#nav-search-button:hover {
	color: #79e;	
}
#avatar-dropdown:hover #usermenu-caret {
	/* Make the avatar dropdown caret highlight, since our nav.tpl breaks the redbasic css for this */
	color: #79e;	
}
input[type="submit"] {
	color: #37b;
}
@media screen and (max-width: 767px) {
	.nav > li.active > a {
		/* Give a hint of color to the selection box's border around the current nav icon */
		border: 1px solid #cde;
		border-top: none;
		border-bottom: none;
	}
}
