/*
  HomeSocial theme for Hubzilla

  Based on redbasic
  by Treer

  Colors are set in the schema css, this file sets sizes, placement etc.
*/


header #banner {
	margin-top: 0px;
	text-shadow: none;
}

#nav-search-group {
	width: 200px;
	margin: 12px 0px 15px 26px;
	padding-right: 15px;
}
@media screen and (min-width: 1220px) {
	#nav-search-group {
		width: 280px;
	}
}

#nav-search-button {
	padding: 0 6px;
	height: 26px;
	margin: 0px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-left-width: 0;
}

#nav-search-text {
	margin: 0;
	height: 26px;
	font-size: 120%;
	width: 100%;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.container-fluid {
	padding-left:   2px;  /* space between avatar and left edge of window */
}

.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
	/* Override some bootstrap sillyness that leaves the avatar half off the screen */
    margin-left: 0;
}

.wall-item-photo {
	/* dropshadow on rounded edge avatars created black edges on while or transparent backgrounds for avatars */
    box-shadow: none;
}

@media screen and (min-width: 1024px) {
	/* Space out the nav bar better and enlarge the icons */

	.navbar { min-height: 54px; }

	.help-content { top: 54px; }


	.nav > li > a {
		/* The selection box's shape/size around the current nav icon 
		margin-top: 1px;
		padding: 11px 14px;
		border-radius: 4px;	*/
		margin-top: -2px;
		padding: 14px 14px;
		padding-top: 15px;
	}

	.container-fluid { 
		padding-right:  20px; /* space between '?' and right edge of window */
		padding-top:    2px;
		padding-bottom: 2px;
	}

	#navbar-collapse-1 i,
	.navbar-header i {
		/* embiggen the nav icons */
		font-size: 22px;
	}

	#navbar-collapse-1 .fa-question-circle-o, 
	#navbar-collapse-1 .fa-question-circle, 
	.navbar-header .fa-question-circle-o,
	.navbar-header .fa-question-circle{
		/* enlarge the (?) icons as they are designed visually smaller to fit in the circle */
		font-size: 28px;
		margin-top: -3px;
	}

	#nav-search-button .fa {
		/* but keep the search icon smaller */
		font-size: 16px;
	}

	.caret {
		/* enlarge the caret */
		border-top: 7px solid;
		border-right: 6px solid transparent;
		border-left: 6px solid transparent;
	}
	#avatar-dropdown {
		margin-right: 10px;
	}

}
